@model IEnumerable<TopXModel>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Epic</th>
                <th class="currency">WIP</th>
                <th class="currency">Billable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TopXModel item in Model)
            {
                <tr>
                    <td>@item.Epic</td>
                    <td class="currency">@CurrencyHelper.Format(item.BillableWip)</td>
                    <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">Total</td>
                <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.BillableWip))</td>
                <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
            </tr>
        </tfoot>
    </table>
</div>