@model IEnumerable<Activity>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Epic</th>
                <th>TeamName</th>
                <th>Reuse DA</th>
                <th>Reuse FCP</th>
                <th class="currency">Billable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Activity item in Model)
            {
                <tr>
                    <td>@DateTimeHelper.Format(item.Month)</td>
                    <td>@item.Epic</td>
                    <td>@item.TeamName</td>
                    <td>@item.ReuseDA</td>
                    <td>@item.ReuseFCP</td>
                    <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
                </tr>
            }
        </tbody>
    </table>
</div>