@model IEnumerable<Card>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Data">Data</a></li>
    <li class="active">Cards</li>
</ol>

<div class="page-header">
    <h2>Cards</h2>
</div>

<div class="table-responsive">
    <table class="table">
           <thead>
                <tr>
                    <th>Epic</th>
                    <th>Index</th>
                    <th>List</th>
                    <th>DomId</th>
                    <th>Name</th>
                    <th>Invoice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Card card in Model)
                {
                    <tr>
                        <td>@card.Epic</td>
                        <td class="number">@card.ListIndex</td>
                        <td>@card.ListName</td>
                        <td>@card.DomId</td>
                        <td>@TrelloHelper.CardLink(card.Id, card.Name)</td>
                        <td>@DateTimeHelper.Format(card.Invoice)</td>
                    </tr>
                }
            </tbody>
        </table>
</div>