@model IEnumerable<Vincente.Data.Entities.Card>
<h2>Data</h2>
<h3>Trello</h3>
<table>
    <thead>
        <tr>
            <th>Epic</th>
            <th>Index</th>
            <th>List</th>
            <th>DomId</th>
            <th>Name</th>
            <th>Invoice</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Vincente.Data.Entities.Card card in Model)
    {
        <tr>
            <td>@card.Epic</td>
            <td class="number">@card.ListIndex</td>
            <td>@card.ListName</td>
            <td>
                <a target="_blank" href="https://trello.com/c/@card.Id">
                    @card.DomId
                </a>
            </td>
            <td>@card.Name</td>
            <td>@string.Format("{0:d}", card.Invoice)</td>
        </tr>
    }
    </tbody>
</table>
