<h2>Trello</h2>

<table>
    <thead>
        <tr>
            <th>Epic</th>
            <th>Index</th>
            <th>List</th>
            <th>DomId</th>
            <th>Name</th>
            <th>Invoice</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Vincente.Azure.Entities.CardEntity card in Model)
    {
        <tr>
            <td>@card.Epic</td>
            <td class="number">@card.ListIndex</td>
            <td>@card.ListName</td>
            <td>@card.DomId</td>
            <td>@card.Name</td>
            <td>@string.Format("{0:d}", card.Invoice)</td>
        </tr>
    }
    </tbody>
</table>
