<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toggl</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Epic</th>
                <th>DomId</th>
                <th>Name</th>
                <th>List</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Azure.Entities.CardEntity card in Model)
        {
            <tr>
                <td>@card.Epic</td>
                <td>@card.DomId</td>
                <td>@card.Name</td>
                <td>@card.List</td>
                <td>@string.Format("{0:d}", card.Invoice)</td>
            </tr>
        }
        </tbody>
    </table>
</body>
</html>
