@model IEnumerable<WipListModel>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>List</th>
                <th class="currency">Blocked</th>
                <th class="currency">Billable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (WipListModel item in Model)
            {
                <tr class="@Html.IsDanger(item.Blocked)">
                    <td><a href="/Wip/@item.ListIndex">@item.ListName</a></td>
                    <td class="currency">@CurrencyHelper.Format(item.Blocked)</td>
                    <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td class="currency"><span class="blocked">@CurrencyHelper.Format(Model.Sum(e => e.Blocked))</span></td>
                <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
            </tr>
        </tfoot>
    </table>
</div>
