@model IEnumerable<CardWithTime>
<h2>Work In Progress</h2>

<h3>@Model.First().ListName</h3>

<table>
    <thead>
        <tr>
            <th>DomId</th>
            <th>Name</th>
            <th>Billable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CardWithTime item in Model)
        {
            <tr>
                <td>@item.DomId</td>
                <td>@TrelloHelper.CardLink(item.CardId, item.Name)</td>
                <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
        </tr>
    </tfoot>
</table>

