@model IEnumerable<CardWithTime>
<h2>Work In Progress</h2>

<h3>@Model.First().ListName</h3>

<table>
    <thead>
        <tr>
            <th>DomId</th>
            <th>Epic</th>
            <th>Name</th>
            <th>Billable</th>
            <th>Blocked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CardWithTime item in Model)
        {
            <tr>
                <td>@item.DomId</td>
                <td>@item.Epic</td>
                <td>@TrelloHelper.CardLink(item.CardId, item.Name)</td>
                <td class="currency">@TogglHelper.DetailedReport(item.TaskId, CurrencyHelper.Format(item.Billable))</td>
                <td>@if (item.Blocked.GetValueOrDefault())
                {
                    <span class="blocked">X</span>
                }</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
        </tr>
    </tfoot>
</table>

