@model IEnumerable<CardWithTime>
<h2>Invoice</h2>
<h3>@ViewBag.Invoice.ToString("MMMM yyyy")</h3>

<table>
    <thead>
        <tr>
            <th>Epic</th>
            <th>Billable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CardWithTime item in Model)
        {
            <tr>
                <td><a href="/Invoice/@item.Invoice.Value.Year/@item.Invoice.Value.Month/@item.Epic">@item.Epic</a></td>
                <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
        </tr>
    </tfoot>
</table>

<h4>For CRM</h4>
<table>
    <thead>
        <tr>
            <th>Work from</th>
            <th>@DateTimeHelper.Format(ViewBag.Invoice)</th>
            <th>@DateTimeHelper.Format(ViewBag.Invoice.AddMonths(1))</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Invoice.AddMonths(-1).ToString("MMMM") and before</td>
            <td class="currency">@CurrencyHelper.Format(ViewBag.CurrentPrevious)</td>
            <td class="currency">@CurrencyHelper.Format(ViewBag.FuturePrevious)</td>
        </tr>
        <tr>
            <td>@ViewBag.Invoice.ToString("MMMM")</td>
            <td class="currency">@CurrencyHelper.Format(ViewBag.CurrentCurrent)</td>
            <td class="currency">@CurrencyHelper.Format(ViewBag.FutureCurrent)</td>
        </tr>
    </tbody>
</table>
