@model IEnumerable<Activity>
@{ 
    var workDone = (IEnumerable<Activity>)ViewBag.WorkDone;
}

<h3>By Epic</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Epic</th>
                <th class="currency">Billable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="/Invoice/@item.Invoice.Value.Year/@item.Invoice.Value.Month/@item.Epic">@item.Epic</a></td>
                    <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
            </tr>
        </tfoot>
    </table>
</div>

<h3>For CRM</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Work Done Month</th>
                <th class="currency">Margin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in workDone)
            {
                <tr>
                    <td>@DateTimeHelper.Format(item.Month)</td>
                    <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td class="currency">@CurrencyHelper.Format(workDone.Sum(e => e.Billable))</td>
            </tr>
        </tfoot>
    </table>
</div>
