@model IEnumerable<Activity>

<h3>By Epic</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Epic</th>
                <th class="currency">Billable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Activity item in Model)
            {
                <tr>
                    <td><a href="/Invoice/@item.Invoice.Value.Year/@item.Invoice.Value.Month/@item.Epic">@item.Epic</a></td>
                    <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
            </tr>
        </tfoot>
    </table>
</div>

<h3>For CRM</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Work from</th>
                <th class="currency">@DateTimeHelper.Format(ViewBag.Invoice)</th>
                <th class="currency">@DateTimeHelper.Format(ViewBag.Invoice.AddMonths(1))</th>
                <th class="currency">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Invoice.AddMonths(-1).ToString("MMMM") and before</td>
                <td class="currency">@CurrencyHelper.Format(ViewBag.CurrentPrevious)</td>
                <td class="currency">@CurrencyHelper.Format(ViewBag.FuturePrevious)</td>
                <td class="currency">n/a</td>
            </tr>
            <tr>
                <td>@ViewBag.Invoice.ToString("MMMM")</td>
                <td class="currency">@CurrencyHelper.Format(ViewBag.CurrentCurrent)</td>
                <td class="currency">@CurrencyHelper.Format(ViewBag.FutureCurrent)</td>
                <td class="currency">@TogglHelper.SummaryReport(ViewBag.Invoice, CurrencyHelper.Format(ViewBag.CurrentCurrent + ViewBag.FutureCurrent))</td>
            </tr>
        </tbody>
    </table>
</div>
