@model IEnumerable<JoinModel>
<h2>Invoice</h2>
<h3>@string.Format("{0:d}", Model.First().Invoice)</h3>
<h4>@Model.First().Epic</h4>

<table>
    <thead>
        <tr>
            <th>DomId</th>
            <th>Name</th>
            <th>Billable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (JoinModel item in Model)
        {
            <tr>
                <td>@item.DomId</td>
                <td>@item.Name</td>
                <td class="currency">@string.Format("{0:n2}", item.Billable)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td class="currency">@string.Format("{0:n2}", Model.Sum(e => e.Billable))</td>
        </tr>
    </tfoot>
</table>
