@model IEnumerable<InvoiceModel>
<h2>Invoice</h2>

<table>
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Total</th>
            <th>In Current</th>
            <th>From Previous</th>
            <th>Remaining</th>
        </tr>
    </thead>
    <tbody>

        @foreach (InvoiceModel item in Model)
        {
            <tr>
                <td>
                    <a href="\Invoice\@item.Invoice.Value.Year\@item.Invoice.Value.Month">
                        @DateTimeHelper.Format(item.Invoice)
                    </a>
                </td>
                <td class="currency">
                    @CurrencyHelper.Format(item.Total)
                </td>
                <td class="currency">
                    @CurrencyHelper.Format(item.Current)
                </td>
                <td class="currency">
                    @CurrencyHelper.Format(item.Previous)
                </td>
                <td class="currency">
                    @CurrencyHelper.Format(item.Total - item.Current - item.Previous)
                </td>
            </tr>
        }
    </tbody>
</table>
