@model IEnumerable<InvoiceModel>
<h2>Invoice</h2>

<table>
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Total</th>
            <th>In Current</th>
            <th>From Previous</th>
            <th>Remaining</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@string.Format("{0:d}", ViewBag.Invoice)</td>

            <td class="currency">
                @string.Format("{0:n2}", ViewBag.Total)
            </td>
            <td></td>
            <td class="currency">
                @string.Format("{0:n2}", ViewBag.Previous)
            </td>
            <td class="currency">
                @string.Format("{0:n2}", ViewBag.Total - ViewBag.Previous)
            </td>
        </tr>
        @foreach (InvoiceModel item in Model)
        {
            <tr>
                <td>
                    <a href="\Invoice\@item.Invoice.Value.Year\@item.Invoice.Value.Month">
                        @string.Format("{0:d}", item.Invoice)
                    </a>
                </td>
                <td class="currency">
                    @string.Format("{0:n2}", item.Total)
                </td>
                <td class="currency">
                    @string.Format("{0:n2}", item.Current)
                </td>
                <td class="currency">
                    @string.Format("{0:n2}", item.Previous)
                </td>
                <td class="currency">
                    @string.Format("{0:n2}", item.Total - item.Current - item.Previous)
                </td>
            </tr>
        }
    </tbody>
</table>
