@model IEnumerable<UserModel>
<h2>Users</h2>
<h3>Summary</h3>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Last Month</th>
            <th>This Month</th>
            <th>Yesterday</th>
            <th>Today</th>
        </tr>
    </thead>
    <tbody>
        @foreach(UserModel u in Model)
        {
            <tr>
                <td>@u.UserName</td>
                <td class="currency">@CurrencyHelper.Format(u.LastMonth)</td>
                <td class="currency">@CurrencyHelper.Format(u.ThisMonth)</td>
                <td class="currency">@CurrencyHelper.Format(u.Yesterday)</td>
                <td class="currency">@CurrencyHelper.Format(u.Today)</td>
            </tr>
        }
    </tbody>
</table>
