@model IEnumerable<UserModel>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Users</li>
</ol>

<div class="page-header">
    <h2>Users Time</h2>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th class="currency">Last Month</th>
                <th class="currency">This Month</th>
                <th class="currency">Last Week</th>
                <th class="currency">This Week</th>
                <th class="currency">Yesterday</th>
                <th class="currency">Today</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserModel u in Model)
            {
                <tr class="@(u.ThisMonth == 0 ? "danger" : (u.ThisWeek == 0 ? "warning" : string.Empty))">
                    <td>@u.UserName</td>
                    <td class="currency">@CurrencyHelper.Format(u.LastMonth)</td>
                    <td class="currency">@CurrencyHelper.Format(u.ThisMonth)</td>
                    <td class="currency">@CurrencyHelper.Format(u.LastWeek)</td>
                    <td class="currency">@CurrencyHelper.Format(u.ThisWeek)</td>
                    <td class="currency">@CurrencyHelper.Format(u.Yesterday)</td>
                    <td class="currency">@CurrencyHelper.Format(u.Today)</td>
                </tr>
            }
        </tbody>
    </table>
</div>